@mixin desktop-only {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin not-desktop {
  @media only screen and (max-width: calc(#{$desktop} - 1px)) {
    @content;
  }
}

@mixin tablet-only {
  @media only screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
    @content;
  }
}

@mixin mobile-only {
  @media only screen and (max-width: calc(#{$tablet} - 1px)) {
    @content;
  }
}

@mixin not-mobile {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin media-custom-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media-custom-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin position(
  $position: false,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false
) {
  @if $position {
    position: $position;
  }
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}